 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/Images/logo.png" width="70" height="70" class="d-inline-block align-top"><ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
    <br>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="meettheteam">About Us<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signup">Sign Up</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="members">Rate Giphys</a>
      </li>
    {{!-- <p class="nav-item">
        <a class="nav-link me-2 logout" href="logout"><i class="fas fa-sign-out-alt"></i>Log out</a>
      </p> --}}
    
    </ul>
  </div>
</nav>


    <div class="">
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
              <h1 class="display-4">What is gifNjelly?!</h1>
              <h3 class="lead text-muted mb-0">We are a social network for rating your favorite giphys.</h3>
              <br>
              <br>
              <p>gifNjelly allows users to interact with friends in a safe and socially distanced way online. Users are able to add their own creative captions to gifs that are currently trending. Other users are then able to vote on these captions. </p>
             
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="/Images/giflogo.gif" alt="" class="img-fluid"></div>
          </div>
        </div>
      </div>
      

      
      <div class="bg-dark py-5">
        <div class="container py-5">
          <div class="row mb-4">
            <div class="col-lg-5">
              <h2 class="display-4 team font-weight-dark">Our team</h2>
              <p class="font-italic text-muted">Meet the team behind this giphy startup!</p>
            </div>
          </div>
      
          <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/Images/4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Tommy Willen</h5><span class="small text-uppercase text-muted">Backend</span>
                
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/Images/1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Aubrey Heim</h5><span class="small text-uppercase text-muted">Backend</span>
            
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/Images/3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Carolina Yoedhana</h5><span class="small text-uppercase text-muted">Frontend</span>
            
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/Images/2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Suzy Le Bel</h5><span class="small text-uppercase text-muted">Frontend</span>
            
              </div>
            </div>
            <!-- End-->
      
          </div>
        </div>
      </div>
