
{{!-- pull history

{{#each giphy_post}}
<div class="card" style="width: 18rem;">
  <img src="{{this.gifurl}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{this.caption}}Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
{{/#each}}


then give options for new gifs. --}}

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="title">gifNjelly</h1>
          <button id="searchButton" type="button" class="btn btn-info">Search Gif</button>
        </div>
      </div>

      <div class="row">
        <div id="imageCard" class="col-md-6" style="width: 15rem;"></div>
      </div>
    </div>
  </div>
</div>

<<<<<<< HEAD
{{!-- <script>"public/members.js"</script> --}}
<script src="jquery.min.js"><{{!}}/script>
=======
>>>>>>> Dev
