{{!-- pull history




then give options for new gifs. --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"><a class="nav-link" href="members">
  <img src="/Images/logo.png" width="70" height="70" class="d-inline-block align-top"></a><ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
  <br>  
  <form class="d-flex"> 
      <h2 class="welcome">Welcome, {{user.firstName}}</h2>
  </form></ul>
  <br>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="meettheteam">About Us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="members">Rate Giphys<span class="sr-only">(current)</span></a>
      </li>
      <p class="nav-item">
        <a class="nav-link me-2 logout" href="logout"><i class="fas fa-sign-out-alt"></i>Log out</a>
      </p>
    </ul>
  </div>
</nav>

    
      



<div class="container mt-3">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-md-6 text-center members-page">
      <h3 class="title">Post your caption and vote.</h3>
      <button id="searchButton" type="button" class="btn btn-info">Search for a Gif to caption</button>
      <button id="historyButton" type="button" class="btn btn-info">Vote on captioned Gifs</button>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div id="imageCard" class="col-8">
      <div class="row">
        <div id="imageCardLeft" class="ml-5 col-md-5"></div>
        <div id="imageCardRight" class="col-md-5"></div>
      </div>
    </div>
    {{!-- <div id="imageCard" class="col-md-8" style="width: 15rem;"></div> --}}
  </div>
</div>