<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="title">gifNjelly</h1>
        </div>
    </div>

    <div class="row">
        <div class="card" style="width: 18rem;">
            {{!-- //wait for new href link --}}
            <img id="chosenGif" data-id="{{gifId}}" src="https://media2.giphy.com/media/{{gifId}}/200w.gif?cid=603c5c00zckhvodbm0oxr7brrw3oqsuiughyzh2er22hevs7&rid=200w.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Blurt It!!</h5>
                <p class="card-text">Post your new coment here.</p>

                <div class="mb-3">
                    <label for="caption-input" class="form-label">Enter comments</label>
                    <input type="input" class="form-control" id="caption-input"
                        placeholder="Comment here">
                </div>
                <button id="submitButton" class="btn btn-primary">Submit Caption</button>                
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div id="imageCard" class="col-md-6"></div>
</div>
</div>