<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>SIGN UP</h2>
        <form class="signup">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
          </div>

          <div class="form-group">
            <label for="userName">Username</label>
            <input type="text" class="form-control" id="userName" placeholder="Username">
          </div>

          <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
            <small>Password must be at least 8 characters long</small>
          </div>
          
     <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br />
        <p>Or log in <a href="login">here</a></p>
      </div>
    </div>
  </div>