<form class="form-box sign-up">
  <div class="form-group align-items-center">
    <h3>Sign Up! </h3>
    <label for="exampleInputFirstName">First Name</label>
    <input style="width: 18rem;" type="text" class="form-control" id="first-name"
      placeholder="First Name">
      <label for="exampleInputLastName">Last Name</label>
    <input style="width: 18rem;" type="email" class="form-control" id="last-name"
      placeholder="Last Name">
      <label for="exampleInputLastName">Username</label>
    <input style="width: 18rem;" type="email" class="form-control" id="user-name"
      placeholder="Username">
    <label for="exampleInputEmail1">Username</label>
    <input style="width: 18rem;" type="email" class="form-control" id="email"
      placeholder="email">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input style="width: 18rem;" type="password" class="form-control password1" id="exampleInputPassword1" placeholder="Password">
  </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input style="width: 18rem;" type="password" class="form-control password2" id="exampleInputPassword2" placeholder="Password">
  </div>
  <br>

  <button type="submit" class="btn btn-primary">Submit</button>
  <div>
    <small id="emailHelp" class="form-text text-muted">Already have an account? Login here</small>
  </div>
</form>